{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
</head>
<body>
    <!--
    <header class="header">
        <a class="navbar-brand" href="{% url 'home' %}">Etsy Window</a>
        <div class="ml-auto">
            <a class="btn" href="{% url 'login' %}">Sign In</a>
            <a class="btn btn-primary" href="{% url 'sign-up' %}">Sign Up</a>
        </div>
    </header>
    -->
    <header class="header">
        <a class="navbar-brand" href="{% url 'home' %}">Etsy Window</a>
        {% if user.is_authenticated %}
            <div class="ml-auto">
                <a class="btn" href="{% url 'logout' %}">Log Out</a>
                <a class="btn btn-primary" href="{% url 'portal-home' %}">Portal</a>
            </div>
        {% else %}
            <div class="ml-auto">
                <a class="btn" href="{% url 'login' %}">Sign In</a>
                <a class="btn btn-primary" href="{% url 'sign-up' %}">Sign Up</a>
            </div>
        {% endif %}
    </header>



    <main class="main">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>


    <footer class="footer">
        <div class="container">
            <p>&copy; {{ year }} Etsy Window</p>
        </div>
        <ul>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Log In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'sign-up' %}">Get Started</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
        </ul>
    </footer>
    
</body>
</html>




        <!--
        <nav class="navbar">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'sign-up' %}">Get Started</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        -->