{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
    <section class="contact-page">
        <h1>Contact Us</h1>
        <p>We appreciate your interest in our services and your feedback is important to us. We value your opinions and insights, and are always looking for ways to improve our website and services to better meet your needs. Please don't hesitate to reach out to us with any questions, comments or concerns you may have.</p>
        <p>We look forward to hearing from you!</p>
        <div class="form-container">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="firstname">First Name:</label>
                    <input type="text" name="firstname" id="firstname">
                </div>
                <div class="form-group">
                    <label for="lastname">Last Name:</label>
                    <input type="text" name="lastname" id="lastname">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" required>
                </div>
                <div class="form-group">
                    <label for="comment">Comment:</label>
                    <textarea name="comment" id="comment" rows="5" required></textarea>
                </div>
                <div class="ml-auto">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}