{% extends 'base.html' %}

{% block title %}Welcome to Etsy Window{% endblock %}

{% block content %}
    <section class="landing-page">
        <h1>Welcome to Etsy Window!</h1>
        <p>Etsy Window is the ultimate solution for creators who want to integrate their Etsy listings into their personal website. Our service allows you to keep your personal style while giving your visitors a seamless window shopping experience.</p>
        <p>With Etsy Window, you can easily add your Etsy listings to your website with just a few clicks. Our platform is designed to make it as easy as possible for you to showcase your products and increase your sales.</p>
        <p>Say goodbye to the hassle of manually updating your website every time you add a new listing. With Etsy Window, your website will always be up-to-date with your latest products.</p>
        <p>Sign up today and start giving your visitors a window shopping experience that matches your unique style!</p>
    </section>
{% endblock %}
