{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <section class="login-page">
        <div class="form-container">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password">
                </div>
                <a href="#" style="padding-bottom: 20px;">Forgot username/password?</a>
                <div class="ml-auto">
                    <button class="btn btn-primary" type="submit">Sign In</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
