{% extends 'base.html' %}

{% block title %}Manage Store{% endblock %}

{% block content %}
    <h1 style="color: #0b7064;">{{ store.store_name }}</h1>

    <form method="post" class="form-left">
        {% csrf_token %}
        <button class="delete-btn" name="action" type="submit" value="delete_store">
            <i class="fas fa-trash"></i>
        </button>
        <div>
            <h3>Basic Information</h3>
            <li>
                <p><b>Store Id:</b> {{ store.etsy_store_id }}</p>
                <p><b>Store Url:</b> <a href="{{ store.store_url }}" target="_blank">{{ store.store_url }}</a></p>
            </li>
        </div>
    </form>

    <h1>Listings</h1>

    <div style="padding-bottom: 20px;">
        <button class="btn btn-primary" name="action" value="update_listing" type="submit" name="update_listings">Update Listings</button>
    </div>

    <div class="listings-container">
        {% for listing in listings %}
        <form method="post" class="form-left">
            <div>
                <h3 style="color: #0b7064;">{{ listing.title }}</h3>
                <li>
                    <p><b>Listing Id:</b> {{ listing.listing_id }}</p>
                </li>
                {% csrf_token %}
                <input type="hidden" name="listing_id" value="{{ listing.listing_id }}">
                <input type="hidden" name="listing_title" value="{{ listing.title }}">
                <button class="delete-btn" name="action" type="submit" value="delete_listing">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        </form>
        {% endfor %}
    </div>

    {% if listings.has_other_pages %}
    <div class="paginator">
        {% if listings.has_previous %}
        <a href="?page={{ listings.previous_page_number }}" class="pagination-link">prev</a>
        {% endif %}
        <span class="current-page">{{ listings.number }}</span>
        {% if listings.has_next %}
        <a href="?page={{ listings.next_page_number }}" class="pagination-link">next</a>
        {% endif %}
    </div>
    {% endif %}
    {% if listings.paginator.num_pages > listings.number %}
    {% for page_num in page_obj.paginator.page_range %}
        {% if page_num > page_obj.number and page_num <= page_obj.number|add:3 %}
            <a href="?page={{ page_num }}">{{ page_num }}</a>
        {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}