{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
    <div class="row" style="padding-top: 10px;">
        <div class="col-md-6">
            <h2>Add New Store</h2>
            <form method="post">
                {% csrf_token %}
                {% if message %}
                    <div class="alert alert-danger" style="color: #0b7064; padding: 10px; font-weight: bold;">{{ message }}</div>
                {% endif %}
                <div class="form-group">
                    <label for="store-name">Store Name</label>
                    <input type="text" name="store-name" id="store-name" class="form-control">
                </div>
                <button name="action" type="submit" class="btn btn-primary" value="add_store">Lookup Store</button>
            </form>
        </div>
        <div class="col-md-6">
            <h2>Your Stores</h2>
              <ul>
                {% for store in stores %}
                <div class="store-box">
                    <h3><b style="color: #0b7064;">{{ store.store_name }}</b></h3>
                    <div>
                        <li>
                            <p><b>Store Id:</b> {{ store.etsy_store_id }}</p>
                            <p><b>Store Url:</b> <a href="{{ store.store_url }}" target="_blank">{{ store.store_url }}</a></p>
                        </li>
                    </div>
                    <div style="padding-bottom: 20px;">
                        <a class="btn btn-primary" href="{% url 'manage-store' store_id=store.etsy_store_id %}">Manage Store</a>
                    </div>
                </div>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}