{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h2>Store Information</h2>
            <div class="form-group">
                <select name="store-select" id="store-select" class="form-control">
                    <option value="">Select Store</option>
                    <option value="store1">Store 1</option>
                    <option value="store2">Store 2</option>
                    <option value="store3">Store 3</option>
                </select>
            </div>
            <ul class="list-group">
                <li class="list-group-item">Store Name: Store 1</li>
                <li class="list-group-item">Store ID: 12345</li>
                <li class="list-group-item">Last Updated: Jan 1, 2023</li>
            </ul>
        </div>
        <div class="row mt-3">
            <div class="col">
                <hr style="border-top: 1px solid lightgrey;">
            </div>
        </div>
        <div class="col-md-6">
            <h2>Add New Store</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="store-name">Store Name</label>
                    <input type="text" name="store-name" id="store-name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="store-id">Store ID</label>
                    <input type="text" name="store-id" id="store-id" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Add Store</button>
            </form>
        </div>
    </div>
{% endblock %}
