{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
    <div class="row">
        {% if has_store %}
        <div class="col-md-6">
            <h2>Store Information</h2>
            <ul class="list-group">
                <li class="list-group-item">Store Name: {{ store.store_name}}</li>
                <li class="list-group-item">Store ID: {{ store.etsy_store_id }}</li>
                <li class="list-group-item">Last Updated: {{ store.updated_at }}</li>
            </ul>
        </div>
        {% else %}
        <div class="col-md-6">
            <h2>Add New Store</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="store-name">Store Name</label>
                    <input type="text" name="store-name" id="store-name" class="form-control">
                </div>
                <button name="action" type="submit" class="btn btn-primary" value="add_store">Lookup Store</button>
            </form>
        </div>
        {% endif %}
    </div>
{% endblock %}
