{% extends 'base.html' %}

{% block title %}Get Started{% endblock %}

{% block content %}
    <section class="sign-up">
        <h1>Getting Started</h1>
        <p>Easily showcase your Etsy listings on your website in just a few clicks! Join our community of users today and effortlessly integrate your Etsy listings to attract more customers and boost your sales. Register now to seamlessly merge your Etsy store with your website and take your online business to the next level.</p>
    </section>
    <section class="login-page">
        <div class="form-container">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="first-name">First Name:</label>
                    <input type="text" name="first-name" id="first-name">
                </div>
                <div class="form-group">
                    <label for="last-name">Last Name:</label>
                    <input type="text" name="last-name" id="last-name">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password">
                </div>
                <div class="form-group">
                    <label for="password-verify">Verify Password:</label>
                    <input type="password" name="password-verify" id="password-verify">
                </div>
                <a href="/login" style="padding-bottom: 20px;">Already have an account?</a>
                <div class="ml-auto">
                    <button class="btn btn-primary" type="submit">Sign Up</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

