# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
*.sqlite3
*.env

# Logs
*.log

# Media files
media/
uploads/

# Static files
staticfiles/

# Virtual environment
venv/
env/
/.venv
env/
.Python
pip-log.txt
pip-delete-this-directory.txt

# IDE specific files
.vscode/
.idea/

# macOS specific files
.DS_Store
