/* Force the footer to the bottom */
html,body {
    height: 100%;
    margin: 0;
}

.main {
    min-height: calc(100% - 100px);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

footer ul {
  display: flex;
  list-style: none;
}

footer a {
  text-decoration: none;
  margin-right: 10px;
  color: #333;
}

/* ---------------- base thing fixes ----------------------- */
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}
/* --------------------------------------- */

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header img {
  width: 100px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 18px;
}

.navbar-brand {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 18px;
}


/* Body */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}


.btn {
  border-color: #000000;
  border-style: solid;
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 18px;
}
.btn:hover{
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
  cursor: pointer;
}
.btn-primary {
  background-color: #2fd9c5;
  border-color: #2fd9c6;
  color: #000000;
}
.btn-primary:hover {
  background-color: #0b7064;
  border-color: #0b7064;
  color: #ffffff;
  cursor: pointer;
}

/* Store info */
.store-box {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* General */
ul {
  list-style-type: none;
}
li {
  list-style-type: none;
}

/* Landing Page */
.landing-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
}

.landing-page h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

.landing-page p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}


/* Forms */
* {
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 80%;
  max-width: 500px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  padding-top: 50px;
  padding-bottom: 50px;
}


.form-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  height: 150px;
}

input[type="submit"] {
  background-color: #2fd9c5;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button {
  all: unset;
}

